<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ProjectHelper.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ProjectHelper.userSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProjectHelper.Properties.Settings>
            <setting name="height" serializeAs="String">
                <value>631</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>408</value>
            </setting>
            <setting name="positionX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="positionY" serializeAs="String">
                <value>0</value>
            </setting>
        </ProjectHelper.Properties.Settings>
        <ProjectHelper.Settings>
            <setting name="height" serializeAs="String">
                <value>631</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>408</value>
            </setting>
        </ProjectHelper.Settings>
        <ProjectHelper.userSettings>
            <setting name="Height" serializeAs="String">
                <value>631</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>408</value>
            </setting>
        </ProjectHelper.userSettings>
    </userSettings>
</configuration>